<h3>Sign up</h3>
<form :action="/sign_up" method="POST">
	<input placeholder="E-mail" name="user[email]">
	<input placeholder="Password" name="user[password]">
	<input type="submit" value="Sign Up">
</form>	